{{> menu}}

<div class="container bg-base-200 rounded-box rounded-xl p-4 mb-4">
  <h1 class="text-xl">{{sensor}}</h1>
  <div class="flex flex-row">
  {{#each latest}}
<div class="card bg-base-100 flex-auto p-4 m-2">
  <h2 class="text-xl">Latest Reading</h2>
  <p>Timestamp: {{timestamp}}</p>
  <p>Temperature: {{reading}}°C</p>
  <p>Humidity: {{humidity}}%</p>
</div>
{{/each}}
<div class="card bg-base-100 flex-auto p-4 m-2">
  <h2 class="text-xl">Daily Temperature Changes</h2>
  <p>Daily High: {{#each dailyHighTemp}}{{reading}}°C{{/each}}</p>
  <p>Daily Low: {{#each dailyLowTemp}}{{reading}}°C{{/each}}</p>
</div>
</div>
</div>

<div class="container bg-base-200 rounded-box rounded-xl p-4 mb-4">
  <div class="ui segment" id="chart"></div>
<script>
  const data = {
    labels: [
      {{#each lastDay}}
        "{{prettifyDate timestamp}}",
      {{/each}}
    ],
    datasets: [
      {
        name: "Temperature", type: "line",
        values: [
          {{#each lastDay}}
            {{reading}},
          {{/each}}
        ]
      }
    ]
  }
  const chart = new frappe.Chart("#chart", {
    title: "Today's Temperature Trend",
    data: data,
    type: 'line',
    height: 250,
  })
</script>
</div>